<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<h2 style="text-align:center">Company Job Posts</h2>

<% posts.forEach(function (post) { %>
<div class="card">
  <img src="https://blog.hubspot.com/hubfs/image8-2.jpg" alt="John" style="width:100%">
  <h1><%=post.name %></h1>
  <p class="title"><%=post.title%></p>
  <p><%=post.description%></p>
  <p><%=post.location%></p>
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Update Description</button>
  <p><button onclick="alert('<%=post._id%>')">TEST</button></p>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    <h1>Job Description</h1>
    <form action="/company/job/description" method="POST" id="usrform">
    <textarea rows="4" cols="50" name="desc" form="usrform">
    <%=post._id%></textarea>
    <div>
      <input type="submit" value="Update">
    </div>
    </form>
      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
      </div>
    </div>
  </div>

</div>
<% }) %>

</body>
</html>